.submenu{
    width: 100%;
    min-height: 100px;
    position: relative;
    float: left;
    background: #edecec;
    z-index: 99999;
    overflow: hidden;
    display: block;
    transition-duration: 0.5s;
}

.submenu .item{
    width: 100%;
    position: relative;
    float: left;
    font-size: 12px;
    color: darkblue;
}
